
.btn {
	color: #a848d5;
	cursor: pointer;
	font-size: 1.125rem;
	line-height: 1.25rem;
	font-weight: 400;
	padding: 19px 45px;
	outline: none;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	font-family: $font-base;
	background: transparent;
	display: inline-block;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #a848d5;

	@include border-radius(30px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #a848d5;
	}

	&:focus,
	&.focus {
		top: 1px;
	}

	i {
		margin-left: 0.75rem;
	}
}

.btn_purple {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background: rgb(167,71,213);
	background: -moz-linear-gradient(left, rgba(167,71,213,1) 0%, rgba(157,56,207,1) 50%, rgba(131,37,192,1) 100%);
	background: -webkit-linear-gradient(left, rgba(167,71,213,1) 0%,rgba(157,56,207,1) 50%,rgba(131,37,192,1) 100%);
	background: linear-gradient(to right, rgba(167,71,213,1) 0%,rgba(157,56,207,1) 50%,rgba(131,37,192,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a747d5', endColorstr='#8325c0',GradientType=1 );

	&:hover {
		color: #fff;
		background: #7a1bb2;
		@include gradient-horizontal(#7a1bb2,#7a1bb2);
		@include transition(.2s);
	}
}

.btn_yellow {
	color: #000;
	font-weight: 600;
	background: #ffaa22;
	border-color: #ffaa22;
	text-transform: inherit;
	@include border-radius(4px);

	&:hover {
		color: #000;
		background: #ff9d00;
		border-color: #ff9d00;
	}
}


.btn_sm {
	font-size: 1rem;
	padding: 14px 30px;
	line-height: 1.25rem;
}

.btn-lg {

	@media (min-width: $screen-lg-min) {
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 28px 66px;
		@include border-radius(45px);
	}
}

.btn_facebook {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	padding: 19px 15px;
	background: #3f5795;
	border-color: #3f5795;
	text-transform: inherit;

	&:before {
		top: 50%;
		left: 5px;
		content: '';
		width: 50px;
		height: 50px;
		opacity: 0;
		visibility: hidden;
		margin-top: -25px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon_facebook.png") 0 0 no-repeat;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.185rem;
		padding: 19px 60px;

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn_google {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	padding: 19px 15px;
	background: #4d84f0;
	border-color: #4d84f0;
	text-transform: inherit;

	&:before {
		top: 50%;
		left: 5px;
		content: '';
		width: 50px;
		height: 50px;
		opacity: 0;
		visibility: hidden;
		margin-top: -25px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__google.png") 0 0 no-repeat;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.185rem;
		padding: 19px 60px;

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn_long {

	@media (min-width: $screen-md-min) {
		width: 290px;
	}
}

.btn_disable {
	opacity: 0.6;
}

.btn_pay {
	outline: none;
	display: block;
	max-width: 190px;
	text-decoration: none;
}